$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "citysearch";
@import "fivedayforecast";
@import "weathertile";

.navbar {
  background: lightblue;

  h2 {
    color: white;
  }
}